{% with current=request.resolver_match.url_name %}
<li>
    <a href="{% url 'accounts:trainer_dashboard' %}"
       class="{% if current == 'trainer_dashboard' %}is-active{% endif %}">
        Overview
    </a>
</li>
<li>
    <a href="{% url 'accounts:trainer_clients' %}"
       class="{% if current == 'trainer_clients' %}is-active{% endif %}">
        My clients
    </a>
</li>
<li>
    <a href="{% url 'accounts:trainer_programmes' %}"
       class="{% if current == 'trainer_programmes' %}is-active{% endif %}">
        Programmes
    </a>
</li>
<li>
    <a href="{% url 'accounts:trainer_metrics' %}"
       class="{% if current == 'trainer_metrics' %}is-active{% endif %}">
        Metrics
    </a>
</li>
<li>
    <a href="{% url 'accounts:trainer_support' %}"
       class="{% if current == 'trainer_support' %}is-active{% endif %}">
        Support
    </a>
</li>
{# Trainer query inbox: shows Contact queries assigned to this trainer #}
<li>
    <a href="{% url 'accounts:trainer_queries' %}"
       class="{% if current == 'trainer_queries' %}is-active{% endif %}">
        Queries
    </a>
</li>
{% endwith %}
